.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  flex-direction: column;

  .upload-input {
    height: 200px;
    width: 100%;
    max-width: 400px;
    border: 3px dotted #13b7f2;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
      color: #3f4254;
      margin-bottom: 0.3rem;
    }
    p {
      color: #7e8299;
      font-weight: 14px;
      font-weight: 500;
      margin: 0;
    }
  }
  .file-uploaded {
    padding: 1rem;
    border: 1px dotted #13b7f2;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    p {
      color: #7e8299;
      font-weight: 14px;
      font-weight: 500;
      margin: 0;
    }
  }

  .upload-button {
    margin-top: 1.5rem;
    background: linear-gradient(
      180deg,
      rgb(89, 225, 252) 0%,
      rgba(11, 165, 254, 1) 100%
    );
    color: white;
    width: 100%;
    padding: 10px 12px;
    border-radius: 30px;
    border: none;
    max-width: 400px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    color: white;
  }
}
